.search {
  margin-top: 20px;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filters {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}
.filters > * {
  max-width: 350px;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  width: 250px;
  height: 400px;
  margin: 10px;
  cursor: default;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  &__link {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: #2c3e50 underline;
    }
  }
  header {
    h2 {
      font-size: 1.25rem;
      line-height: 1.2;
      margin: 0.25rem 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 200px;
    }
    h3 {
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 1.2;
      margin: 0;
    }
  }
  footer {
    display: grid;
    align-items: center;
    justify-content: center;
    .price {
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0;
      text-align: center;
    }
    .btn-cart {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin-top: 0.5rem;
      background-color: #2ecc71;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #27ae60;
      }
    }
  }
}

.btn-new {
  background-color: #3498db;
  color: white;
}

.results {
  text-align: center;
  margin-top: 20px;
  display: block;
  font-size: 1.5rem;
  color: #2c3e50;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

.list-books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    gap: 20px;
  }
  .filters > * {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .book {
    width: calc(100% - 20px);
  }
}
