<form [formGroup]="searchForm" (ngSubmit)="applyFilters()">
  <!--? name -->
  <mat-form-field appearance="outline" class="search">
    <mat-label>Nombre del libro</mat-label>
    <input
      matInput
      placeholder="Ej. El principito, El señor de los anillos, Harry Potter..."
      formControlName="title"
    />
    <button mat-icon-button matSuffix type="submit">
      <mat-icon> search </mat-icon>
    </button>
  </mat-form-field>

  <section class="filters">
    <!-- ? New book -->
    <button mat-fab extended class="btn-new" (click)="newBook()">
      <mat-icon> add_circle </mat-icon>
      Nuevo libro
    </button>
    <!--? ascending -->
    <mat-form-field appearance="outline">
      <mat-label>Ordenar</mat-label>
      <mat-select
        formControlName="ascending"
        (selectionChange)="applyFilters()"
      >
        <mat-option [value]="true">Ascendente</mat-option>
        <mat-option [value]="false">Descendente</mat-option>
      </mat-select>
      <mat-icon matSuffix> sort </mat-icon>
    </mat-form-field>
    <!--? categories -->
    <mat-form-field appearance="outline">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="category" (selectionChange)="applyFilters()">
        <mat-option [value]="null">Todas las categorías</mat-option>
        @for (category of categories; track category.id) {
        <mat-option [value]="category.id">
          {{ category.name }}
        </mat-option>
        }
      </mat-select>
      <mat-icon matSuffix> category </mat-icon>
    </mat-form-field>
    <!--? authors -->
    <mat-form-field appearance="outline">
      <mat-label>Autor</mat-label>
      <mat-select
        matNativeControl
        formControlName="author"
        (selectionChange)="applyFilters()"
      >
        <mat-option [value]="null">Todos los autores</mat-option>
        @for (author of authors; track author.id) {
        <mat-option [value]="author.id">
          {{ author.name }}
        </mat-option>
        }
      </mat-select>
      <mat-icon matSuffix> person </mat-icon>
    </mat-form-field>
  </section>
</form>

@if (books.length > 0) {
<p class="results">Se encontraron {{ books.length }} libro(s)</p>
}

<section class="list-books">
  @for (book of books; track book.id) {
  <article class="book">
    <header>
      <a routerLink="/book/{{ book.id }}" class="book__link">
        <h2 matTooltip="{{ book.title }}" [matTooltipPosition]="'above'">
          {{ book.title }}
        </h2>
      </a>
      <h3>
        {{ book.ISBN }}
      </h3>
    </header>
    <img src="{{ book.image_url }}" alt="{{ book.title }}" height="250" />
    <footer>
      <div class="price">
        {{ book.price | currency : "USD" }}
      </div>
      <button class="btn-cart" (click)="addToCart(book.id)">
        <mat-icon> add_shopping_cart </mat-icon>
        Añadir
      </button>
    </footer>
  </article>
  } @empty {
  <p class="results">No se encontraron libros</p>
  }
</section>
