<h2 mat-dialog-title>Crear nuevo libro</h2>
<h3 class="subtitle">
  {{
    bookForm.controls["title"].value
      ? "Título - " + bookForm.controls["title"].value
      : "No hay título aún ✍️"
  }}
</h3>
<form [formGroup]="bookForm" (ngSubmit)="saveBook()">
  <mat-dialog-content class="form">
    <mat-form-field appearance="outline">
      <mat-label>Nombre del libro</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>ISBN</mat-label>
      <input matInput formControlName="ISBN" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Autor</mat-label>
      <mat-select formControlName="ids_authors" multiple>
        @for (author of authors; track author.id) {
        <mat-option [value]="author.id">
          {{ author.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="ids_categories" multiple>
        @for (category of categories; track category.id) {
        <mat-option [value]="category.id">
          {{ category.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha de publicación</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="date_published"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <textarea
        matInput
        formControlName="description"
        cdkTextareaAutosize="true"
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>URL Imagen</mat-label>
      <input matInput formControlName="image_url" />
      <mat-icon
        matSuffix
        matTooltip="Se agregó el campo URL Imagen porque manejar archivos Base64 me llevaría más tiempo realizarlo"
        [matTooltipPosition]="'above'"
      >
        help
      </mat-icon>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>
      Cancelar
      <mat-icon> close </mat-icon>
    </button>
    <button
      mat-flat-button
      class="btn-save"
      type="submit"
      [disabled]="bookForm.invalid"
    >
      Guardar
      <mat-icon> save </mat-icon>
    </button>
  </mat-dialog-actions>
</form>
