.form {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.subtitle {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 2rem;
}

.btn-save {
  background-color: #2ecc71;
  color: white;
  border: none;
}
