.content {
  display: grid;
  width: 90%;
  margin: 2rem auto;
}

.title {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  font-weight: 900;
  text-align: center;
  color: #2c3e50;
  cursor: default;
  .highlight {
    background-image: linear-gradient(120deg, #e69230 0%, #4e6472 100%);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.5s, background-position 0.3s ease-in 0.5s,
      color 0.5s;
  }
  &:hover {
    .highlight {
      color: #ffffff;
      background-image: linear-gradient(120deg, #4e6472 0%, #e69230 100%);
      background-size: 100% 100%;
      background-position: 0% 0%;
      transition: background-size 0.5s, background-position 0.3s ease-in 0.5s,
        color 0.5s;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
