<main class="content">
  @defer {
  <section class="book">
    <div class="book__image">
      <img [src]="book.image_url" [alt]="book.title" height="250" />
    </div>
    <div class="book__info">
      <h1>{{ book.title }}</h1>
      <p>{{ book.description }}</p>
      <p>Autores</p>
      <ul>
        @for (author of book.authors; track author.id) {
        <li>{{ author.name }}</li>
        }
      </ul>
      <p>ISBN: {{ book.ISBN }}</p>
      <mat-chip-set aria-label="Fish selection">
        @for (category of book.categories; track category.id) {
        <mat-chip>{{ category.name }}</mat-chip>
        }
      </mat-chip-set>
      <p>Price: {{ book.price | currency }}</p>
      <button (click)="addToCart(book)">
        <mat-icon>add_shopping_cart</mat-icon>
        Add to Cart
      </button>
    </div>
  </section>
  } @loading(after 100ms; minimum 1s) {
  <mat-spinner></mat-spinner>
  } @error {
  <p>Error loading book</p>
  }
  <button mat-fab extended routerLink="/">
    <mat-icon>arrow_back</mat-icon>
    Volver
  </button>
</main>
