.content {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  gap: 2rem;
  .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    img {
      width: 200px;
      height: 300px;
      object-fit: cover;
      border-radius: 5px;
    }
    h2 {
      margin: 10px 0;
    }
    p {
      margin: 10px 0;
    }
    button {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 548px) {
  .content {
    width: 90%;
    gap: 1rem;
  }
}
